<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>  <!--Includes the header before the dynamically loaded content--> 
    <%- include('../partials/errorMessage.ejs') %> <!--Displays the error message. This confuses me as it seems that the error message would be loaded every time, error or not, with this approach-->
    <%- body %> <!--The dynamically loaded content-->
    <br>
</body>
</html>