<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    Before <!--Content that comes before the dynamically loaded content-->
    <br>
    <%- body %> <!--The dynamically loaded content-->
    <br>
    After <!--Content that comes after the dynamically loaded content-->
</body>
</html>