<label>Name</label>
<input type="text" name="name" value="<%= author.name %>"> <!--name(name the server will associate this input data with i.e. object.name) value(if the author name is passed to this input, will load his name. useful with edit pages)-->